<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanke.iot.base.dao.project.ImplMapper">

    <sql id="tableName">
        t_project_implement_log
    </sql>
    <!-- 插入一条记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.huanke.iot.base.po.project.ProjectImplementLog">
        INSERT INTO
        <include refid="tableName"/>
        (
        projectId,
        typeId,
        description,
        implTime,
        imgList,
        fileList,
        createTime,
        createUser
        )
        VALUES
        (
        #{projectId},
        #{typeId},
        #{description},
        #{implTime},
        #{imgList},
        #{fileList},
        #{createTime},
        #{createUser}
        )
    </insert>

    <update id="updateById" parameterType="com.huanke.iot.base.po.project.ProjectImplementLog">
        update
        <include refid="tableName"/>
        <set>
            <if test="projectId != null">
                projectId = #{projectId},
            </if>
            <if test="typeId != null">
                typeId = #{typeId},
            </if>
            <if test="description != null and description!='' ">
                description = #{description},
            </if>
            <if test="implTime != null">
                implTime = #{implTime},
            </if>
            <if test="imgList != null and imgList!='' ">
                imgList = #{imgList},
            </if>
            <if test="fileList != null and fileList!='' ">
                fileList = #{fileList},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime},
            </if>
            <if test="updateUser != null">
                updateUser = #{updateUser},
            </if>
        </set>
        where
        1= 1
        and id = #{id}
    </update>

    <select id="selectByProjectId" resultType="com.huanke.iot.base.resp.project.ImplementRsp">
        select pil.description, pil.implTime, pil.imgList imgListStr, pil.fileList, d.label typeName FROM t_project_implement_log pil
        LEFT JOIN t_dict d ON pil.typeId = d.id
        where pil.projectId = #{projectId}
        ORDER BY pil.id DESC
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.project.ProjectImplementLog">
        SELECT
        *
        FROM <include refid="tableName"/>
        WHERE id = #{id}
    </select>

</mapper>