<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanke.iot.base.dao.project.PlanModelMapper">

    <sql id="tableName">
        t_project_plan_info_model
    </sql>
    <!-- 插入一条记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.huanke.iot.base.po.project.ProjectPlanModelInfo">
        INSERT INTO
        <include refid="tableName"/>
        (
        customerId,
        name,
        description,
        isRule,
        ruleId,
        linkType,
        linkDeviceId,
        linkProjectId,
        warnDate,
        nextExecuteTime,
        month,
        day,
        cycleType,
        cycleNums,
        overTimeDays,
        enableUsers,
        status,
        createTime,
        createUser
        )
        VALUES
        (
        #{customerId},
        #{name},
        #{description},
        #{isRule},
        #{ruleId},
        #{linkType},
        #{linkDeviceId},
        #{linkProjectId},
        #{warnDate},
        #{nextExecuteTime},
        #{month},
        #{day},
        #{cycleType},
        #{cycleNums},
        #{overTimeDays},
        #{enableUsers},
        #{status},
        #{createTime},
        #{createUser}
        )
    </insert>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.project.ProjectPlanModelInfo">
        select
        *
        FROM
        <include refid="tableName"/>
        WHERE id = #{id} limit 1
    </select>

    <select id="selectPlanInfoById" resultType="com.huanke.iot.base.resp.project.PlanInfoRsp">
        select ppi.*, d.name linkDeviceName, d.modelId linkDeviceModelId, dm.name linkDeviceModelName
        FROM t_project_plan_info_model ppi LEFT JOIN t_device d
        ON ppi.linkDeviceId = d.id
        LEFT JOIN t_device_model dm
        ON d.modelId = dm.id
        WHERE ppi.id = #{planModelId}
        limit 1
    </select>

    <select id="selectList" resultType="com.huanke.iot.base.po.project.ProjectPlanModelInfo">
        select * from
        <include refid="tableName"/>
        <where>
            1=1
            <if test="param.customerId != null">
                AND customerId = #{param.customerId}
            </if>
            <if test="param.name != null and param.name!='' ">
                AND name = #{param.name}
            </if>
            <if test="param.description != null and param.description!='' ">
                AND description = #{param.description}
            </if>
            <if test="param.isRule != null">
                AND isRule = #{param.isRule}
            </if>
            <if test="param.ruleId != null">
                AND ruleId = #{param.ruleId}
            </if>
            <if test="param.linkType != null">
                AND linkType = #{param.linkType}
            </if>
            <if test="param.linkDeviceId != null">
                AND linkDeviceId = #{param.linkDeviceId}
            </if>
            <if test="param.linkProjectId != null">
                AND linkProjectId = #{param.linkProjectId}
            </if>
            <if test="param.warnDate != null">
                AND warnDate = #{param.warnDate}
            </if>
            <if test="param.nextExecuteTime != null">
                AND nextExecuteTime = #{param.nextExecuteTime}
            </if>
            <if test="param.month != null">
                AND month = #{param.month}
            </if>
            <if test="param.day != null">
                AND day = #{param.day}
            </if>
            <if test="param.cycleType != null">
                AND cycleType = #{param.cycleType}
            </if>
            <if test="param.cycleNums != null">
                AND cycleNums = #{param.cycleNums}
            </if>
            <if test="param.overTimeDays != null">
                AND overTimeDays = #{param.overTimeDays}
            </if>
            <if test="param.enableUsers != null">
                AND enableUsers = #{param.enableUsers}
            </if>
            <if test="param.status != null">
                AND status = #{param.status}
            </if>
            <if test="param.updateTime != null">
                AND updateTime = #{param.updateTime}
            </if>
            <if test="param.updateUser != null">
                AND updateUser = #{param.updateUser}
            </if>
        </where>
        limit #{offset},#{limit}
    </select>


    <update id="updateById" parameterType="com.huanke.iot.base.po.project.ProjectPlanModelInfo">
        update
        <include refid="tableName"/>
        <set>
            <if test="customerId != null">
                customerId = #{customerId},
            </if>
            <if test="name != null and name!='' ">
                name = #{name},
            </if>
            <if test="description != null and description!='' ">
                description = #{description},
            </if>
            <if test="isRule != null">
                isRule = #{isRule},
            </if>
            <if test="ruleId != null">
                ruleId = #{ruleId},
            </if>
            <if test="linkType != null">
                linkType = #{linkType},
            </if>
            <if test="linkDeviceId != null">
                linkDeviceId = #{linkDeviceId},
            </if>
            <if test="linkProjectId != null">
                linkProjectId = #{linkProjectId},
            </if>
            <if test="warnDate != null">
                warnDate = #{warnDate},
            </if>
            <if test="nextExecuteTime != null">
                nextExecuteTime = #{nextExecuteTime},
            </if>
            <if test="month != null">
                month = #{month},
            </if>
            <if test="day != null">
                day = #{day},
            </if>
            <if test="cycleType != null">
                cycleType = #{cycleType},
            </if>
            <if test="cycleNums != null">
                cycleNums = #{cycleNums},
            </if>
            <if test="overTimeDays != null">
                overTimeDays = #{overTimeDays},
            </if>
            <if test="enableUsers != null">
                enableUsers = #{enableUsers},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime},
            </if>
            <if test="updateUser != null">
                updateUser = #{updateUser},
            </if>
        </set>
        where
        1= 1
        and id = #{id}
    </update>


    <update id="deleteById" parameterType="java.lang.Integer">
        update
        <include refid="tableName"/>
        <set>
            isDelete = 1
        </set>
        WHERE id  = #{id}
    </update>

    <update id="batchDelete">
        UPDATE <include refid="tableName"/>
        SET status = 2
        ,updateUser = #{userId}
        WHERE id IN
        <foreach item="ids" collection="valueList" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </update>

    <update id="batchForbidden">
        UPDATE <include refid="tableName"/>
        SET status = 3
        ,updateUser = #{userId}
        WHERE id IN
        <foreach item="ids" collection="valueList" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </update>

    <update id="batchReverse">
        UPDATE <include refid="tableName"/>
        SET status = 1
        ,updateUser = #{userId}
        WHERE id IN
        <foreach item="ids" collection="valueList" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </update>

    <!--列表总条数-->
    <select id="selectCount"  resultType="java.lang.Integer">
        select count(1) from
        <include refid="tableName"/> ppi
        LEFT JOIN t_project_rule r on ppi.ruleId = r.id
        where 1=1
        <if test = "param.name != null and param.name != ''">
            AND ppi.name LIKE CONCAT('%',#{param.name},'%')
        </if>
        <if test = "param.isRule != null">
            AND ppi.isRule = #{param.isRule}
        </if>
        <if test = "param.warnLevel != null">
            AND r.warnLevel = #{param.warnLevel}
        </if>
        <if test = "param.status != null ">
            AND ppi.status = #{param.status}
        </if>
        <if test = "param.createTime != null">
            AND ppi.createTime >= #{param.createTime}
        </if>
        <if test = "param.customerId != null">
            AND ppi.customerId = #{param.customerId}
        </if>
        <!--<if test="param.type != null and param.type!='' ">
            AND type = #{param.type}
        </if>-->
        AND ppi.status != 2
    </select>

    <!--返回当前列表集合-->
    <select id="selectPageList" resultType="com.huanke.iot.base.resp.project.PlanRspPo">
      SELECT ppi.id, ppi.name, ppi.description, ppi.linkType,ppi.isRule, ppi.ruleId, ppi.enableUsers, ppi.status, ppi.createTime, ppi.updateTime, u.nickName createName,u1.nickName updateName
      FROM t_project_plan_info_model ppi
      left join t_user u on ppi.createUser = u.id
      left join t_user u1 on  ppi.updateUser = u1.id
      LEFT JOIN t_project_rule r on ppi.ruleId = r.id
      WHERE 1=1
        <if test = "projectPlanModelInfo.name != null and projectPlanModelInfo.name != ''">
            AND ppi.name LIKE CONCAT('%',#{projectPlanModelInfo.name},'%')
        </if>
        <if test = "projectPlanModelInfo.isRule != null">
            AND ppi.isRule = #{projectPlanModelInfo.isRule}
        </if>
        <if test = "projectPlanModelInfo.warnLevel != null">
            AND r.warnLevel = #{projectPlanModelInfo.warnLevel}
        </if>
        <if test = "projectPlanModelInfo.status != null ">
            AND ppi.status = #{projectPlanModelInfo.status}
        </if>
        <if test = "projectPlanModelInfo.createTime != null">
            AND ppi.createTime >= #{projectPlanModelInfo.createTime}
        </if>
        <!--<if test = "projectPlanModelInfo.type != null and projectPlanModelInfo.type != ''">
            AND d.type = #{projectPlanModelInfo.type}
        </if>-->
        <if test = "projectPlanModelInfo.customerId != null">
            AND ppi.customerId = #{projectPlanModelInfo.customerId}
        </if>
        AND ppi.status != 2
      LIMIT #{start},#{limit}
    </select>

    <select id="selectMaintenanceCount" resultType="java.lang.Integer">
        select count(1) from
        <include refid="tableName"/>
        where linkProjectId = #{projectId}
    </select>

    <select id="selectAllExist" resultType="com.huanke.iot.base.po.project.ProjectPlanModelInfo">
        select * from
        <include refid="tableName"/>
        where to_days(nextExecuteTime) = to_days(now())
        AND cycleType != 0
        AND status = 1
    </select>

    <select id="queryByJobId" resultType="com.huanke.iot.base.po.project.ProjectPlanModelInfo">
        select * from
        <include refid="tableName"/>
        where id = (SELECT planId FROM t_project_job_info WHERE id = #{jobId})
    </select>

    <select id="queryPlanModels" resultType="com.huanke.iot.base.resp.project.PlanRspPo">
        select id, name, description, linkType, isRule, ruleId from
        <include refid="tableName"/>
        where status = 1
    </select>


</mapper>