<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanke.iot.base.dao.customer.AndroidConfigMapper">

    <sql id="tableName">
        android_config
    </sql>
    <!-- 插入一条记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.huanke.iot.base.po.customer.AndroidConfigPo">
        INSERT INTO <include refid="tableName"/>
        (
        customerId,
        name,
        logo,
        qrcode,
        version,
        createTime,
        deviceChangePassword
        )
        VALUES (
        #{customerId},
        #{name},
        #{logo},
        #{qrcode},
        #{version},
        #{createTime},
        #{deviceChangePassword}
        )
    </insert>


    <update id="updateById" parameterType="com.huanke.iot.base.po.customer.AndroidConfigPo">
        update
        <include refid="tableName"/>
        <set>
            <if test="customerId != null ">
                customerId = #{customerId},
            </if>
            <if test="name != null  and name != ''">
                name = #{name},
            </if>
            <if test="logo != null  and logo != '' ">
                logo = #{logo},
            </if>
            <if test="qrcode != null  and qrcode != '' ">
                qrcode = #{qrcode},
            </if>
            <if test="version != null  and version != '' ">
                version = #{version},
            </if>
            <if test="deviceChangePassword != null  and deviceChangePassword != '' ">
                deviceChangePassword = #{deviceChangePassword},
            </if>
            <if test="status != null ">
                status = #{status},
            </if>
            lastUpdateTime = #{lastUpdateTime}
        </set>
        where
        id = #{id}
    </update>

    <select id="selectConfigByCustomerId" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.AndroidConfigPo">
        SELECT * FROM
        <include refid="tableName"/>
        WHERE customerId = #{customerId} limit 1
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.AndroidConfigPo">
        select
        *
        FROM
        <include refid="tableName"/>
        WHERE id = #{id} limit 1
    </select>

    <delete id="deleteById">
        delete from <include refid="tableName"/>
        where id = #{id}
    </delete>


</mapper>