<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanke.iot.base.dao.customer.AndroidSceneImgMapper">

    <sql id="tableName">
        android_scene_img
    </sql>
    <!-- 插入一条记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.huanke.iot.base.po.customer.AndroidSceneImgPo">
        INSERT INTO <include refid="tableName"/>
        (
        configId,
        androidSceneId,
        customerId,
        name,
        imgVideo,
        description,
        imgVideoMark,
        status,
        createTime
        )
        VALUES (
        #{configId},
        #{androidSceneId},
        #{customerId},
        #{name},
        #{imgVideo},
        #{description},
        #{imgVideoMark},
        #{status},
        #{createTime}
        )
    </insert>

    <delete id="deleteById">
        delete from <include refid="tableName"/>
        where id = #{id}
    </delete>

    <update id="updateById" parameterType="com.huanke.iot.base.po.customer.AndroidSceneImgPo">
        update
        <include refid="tableName"/>
        <set>

            <if test="name != null  and name != ''">
                name = #{name},
            </if>
            <if test="imgVideo != null  and imgVideo != '' ">
                imgVideo = #{imgVideo},
            </if>
            <if test="description != null  and description != '' ">
                description = #{description},
            </if>
            <if test="imgVideoMark != null  ">
                imgVideoMark = #{imgVideoMark},
            </if>
            <if test="status != null  ">
                status = #{status},
            </if>
            lastUpdateTime = #{lastUpdateTime}
        </set>
        where
        id = #{id}
    </update>

    <!-- 插入一条记录 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO <include refid="tableName"/>
        (
        configId,
        androidSceneId,
        customerId,
        name,
        imgVideo,
        description,
        imgVideoMark,
        status,
        createTime,
        lastUpdateTime
        )
        VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
            #{item.configId},
            #{item.androidSceneId},
            #{item.customerId},
            #{item.name},
            #{item.imgVideo},
            #{item.description},
            #{item.imgVideoMark},
            #{item.status},
            #{item.createTime},
            #{item.lastUpdateTime}
            )
        </foreach>
    </insert>


    <select id="selectListBySceneId"  resultType="com.huanke.iot.base.po.customer.AndroidSceneImgPo">
        select
        *
        FROM <include refid="tableName"/>
        WHERE androidSceneId = #{androidSceneId}
            AND status = 1
    </select>
</mapper>