<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanke.iot.base.dao.customer.CustomerUserMapper">

    <sql id="tableName">
        t_customer_user
    </sql>
    <!-- 插入一条记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.huanke.iot.base.po.customer.CustomerUserPo">
        INSERT INTO <include refid="tableName"/>
        (
        customerId,
        openId,
        nickname,
        unionid,
        headimgurl,
        sex,
        province,
        city,
        status,
        createTime,
        lastUpdateTime,
        mac
        )
        VALUES (
        #{customerId},
        #{openId},
        #{nickname},
        #{unionid},
        #{headimgurl},
        #{sex},
        #{province},
        #{city},
        #{status},
        #{createTime},
        #{lastUpdateTime},
        #{mac}
        )
    </insert>

    <!--查询列白哦-->
    <select id="selectByOpenId" parameterType="java.lang.String" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select *
        from <include refid="tableName"/>
        where openId = #{openId}
        limit 1
    </select>

    <!--查询列白哦-->
    <select id="selectByCustomerId" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select *
        from <include refid="tableName"/>
        where customerId = #{customerId}
        limit 1
    </select>

    <!--查询列白哦-->
    <select id="selectByUserId" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select *
        from <include refid="tableName"/>
        where id = #{id}
        limit 1
    </select>

    <select id="selectByMac" parameterType="java.lang.String" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select *
        from <include refid="tableName"/>
        where mac = #{mac}
        limit 1
    </select>

    <select id="selectCustomerByMasterUserId" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select
        t_customer_user.*
        FROM
        t_customer_user,t_device_team
        WHERE t_device_team.masterUserId = #{masterUserId}
         AND t_customer_user.id = t_device_team.masterUserId
         limit 1
    </select>

    <update id="updateById" parameterType="com.huanke.iot.base.po.customer.CustomerUserPo">
        update
        <include refid="tableName"/>
        <set>
            <if test="openId != null">
                openId = #{openId},
            </if>
            <if test="nickname != null ">
                nickname = #{nickname},
            </if>
            <if test="unionid != null ">
                unionid = #{unionid},
            </if>
            <if test="headimgurl != null ">
                headimgurl = #{headimgurl},
            </if>
            <if test="sex != null ">
                sex = #{sex},
            </if>
            <if test="province != null ">
                province = #{province},
            </if>
            <if test="status != null ">
                status = #{status},
            </if>
            <if test="city != null ">
                city = #{city},
            </if>
            <if test="mac != null ">
                mac = #{mac},
            </if>
            lastUpdateTime = #{lastUpdateTime}
        </set>
        where
        id = #{id}
    </update>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select
        *
        FROM
        <include refid="tableName"/>
        WHERE id = #{id} limit 1
    </select>

    <select id="selectCustomerUserCount" parameterType="java.lang.Integer" resultType="java.util.HashMap">
       SELECT
            FROM_UNIXTIME( u.createTime / 1000, '%m月' ) userMonth,
            count( 1 ) userCount
        FROM
            t_customer_user u
        WHERE
            FROM_UNIXTIME( u.createTime / 1000, '%Y' ) = #{userYear}
            and u.status =1
        GROUP BY
            FROM_UNIXTIME( u.createTime / 1000, '%m月' )
    </select>

    <select id="selectList" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select * from
        <include refid="tableName"/>
        <where>
            <if test = "param.id != null and param.id != ''">
                AND id = #{param.id}
            </if>
            <if test="param.customerId != null">
                AND customerId = #{param.customerId}
            </if>
            <if test = "param.openId != null">
                and openId = #{param.openId}
            </if>
            <if test = "param.nickname != null and param.nickname != ''">
                and nickname = #{param.nickname}
            </if>
            <if test = "param.unionid != null and param.unionid != ''">
                and unionid = #{param.unionid}
            </if>
            <if test = "param.headimgurl != null and param.headimgurl != ''">
                and headimgurl = #{param.headimgurl}
            </if>
            <if test = "param.sex != null and param.sex != ''">
                and sex = #{param.sex}
            </if>
            <if test = "param.province != null and param.province != ''">
                and province = #{param.province}
            </if>
            <if test = "param.city != null and param.city != ''">
                and city = #{param.city}
            </if>
            <if test = "param.status != null and param.status != ''">
                and status = #{param.status}
            </if>
            <if test = "param.createTime != null and param.createTime != ''">
                and createTime = #{param.createTime}
            </if>
            <if test = "param.lastUpdateTime != null and param.lastUpdateTime != ''">
                and lastUpdateTime = #{param.lastUpdateTime}
            </if>
            <if test = "param.lastVisitTime != null and param.lastVisitTime != ''">
                and lastVisitTime = #{param.lastVisitTime}
            </if>
            <if test = "param.mac != null and param.mac != ''">
                and mac = #{param.mac}
            </if>
        </where>
        limit #{limit} offset #{offset}
    </select>
</mapper>