<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanke.iot.base.dao.customer.CustomerMapper">

    <sql id="tableName">
        t_customer
    </sql>
    <!-- 插入一条记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.huanke.iot.base.po.customer.CustomerPo">
        INSERT INTO <include refid="tableName"/>
        (
        name,
        loginname,
        userType,
        remark,
        publicName,
        publicId,
        appid,
        appsecret,
        SLD,
        status,
        createTime,
        lastUpdateTime,
        creatUser
        )
        VALUES (
        #{name},
        #{loginName},
        #{userType},
        #{remark},
        #{publicName},
        #{publicId},
        #{appid},
        #{appsecret},
        #{SLD},
        #{status},
        #{createTime},
        #{lastUpdateTime},
        #{creatUser}
        )
    </insert>

    <select id="selectList">
        select tc.name,
        tc.userType,
        tc.publicName,
        tc.loginname,
        tc.remark
        from <include refid="tableName"/>
        limit #{limit} offset #{offset}
    </select>

    <select id="selectBySLD" parameterType="java.lang.String">
        select *
        from <include refid="tableName"/>
        where SLD = #{SLD}
        limit 1
    </select>




</mapper>