<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanke.iot.base.dao.customer.CustomerUserMapper">

    <sql id="tableName">
        t_customer_user
    </sql>
    <!-- 插入一条记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.huanke.iot.base.po.customer.CustomerUserPo">
        INSERT INTO <include refid="tableName"/>
        (
        customerId,
        openId,
        nickname,
        unionid,
        headimgurl,
        sex,
        province,
        city,
        status,
        lastVisitTime,
        createTime,
        lastUpdateTime,
        mac
        )
        VALUES (
        #{customerId},
        #{openId},
        #{nickname},
        #{unionid},
        #{headimgurl},
        #{sex},
        #{province},
        #{city},
        #{status},
        #{lastVisitTime},
        #{createTime},
        #{lastUpdateTime},
        #{mac}
        )
    </insert>

    <!--查询列白哦-->
    <select id="selectByOpenId" parameterType="java.lang.String" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select *
        from <include refid="tableName"/>
        where openId = #{openId}
        limit 1
    </select>

    <!--查询列白哦-->
    <select id="selectByCustomerId" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select *
        from <include refid="tableName"/>
        where customerId = #{customerId}
        limit 1
    </select>

    <!--查询列白哦-->
    <select id="selectByUserId" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select *
        from <include refid="tableName"/>
        where id = #{id}
        limit 1
    </select>

    <select id="selectByMac" parameterType="java.lang.String" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select *
        from <include refid="tableName"/>
        where mac = #{mac}
        limit 1
    </select>

    <select id="selectCustomerByMasterUserId" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select
        t_customer_user.*
        FROM
        t_customer_user,t_device_team
        WHERE t_device_team.masterUserId = #{masterUserId}
         AND t_customer_user.id = t_device_team.masterUserId
         limit 1
    </select>

    <update id="updateById" parameterType="com.huanke.iot.base.po.customer.CustomerUserPo">
        update
        <include refid="tableName"/>
        <set>
            <if test="openId != null">
                openId = #{openId},
            </if>
            <if test="nickname != null ">
                nickname = #{nickname},
            </if>
            <if test="unionid != null ">
                unionid = #{unionid},
            </if>
            <if test="headimgurl != null ">
                headimgurl = #{headimgurl},
            </if>
            <if test="sex != null ">
                sex = #{sex},
            </if>
            <if test="province != null ">
                province = #{province},
            </if>
            <if test="status != null ">
                status = #{status},
            </if>
            <if test="city != null ">
                city = #{city},
            </if>
            <if test="mac != null ">
                mac = #{mac},
            </if>
            <if test="lastVisitTime != null ">
                lastVisitTime = #{lastVisitTime},
            </if>
            lastUpdateTime = #{lastUpdateTime}
        </set>
        where
        id = #{id}
    </update>

    <update id="updateLastVisitById" parameterType="com.huanke.iot.base.po.customer.CustomerUserPo">
        update
        <include refid="tableName"/>
        <set>
            lastVisitTime = #{lastVisitTime}
        </set>
        where
        id = #{id}
    </update>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        select
        *
        FROM
        <include refid="tableName"/>
        WHERE id = #{id} limit 1
    </select>

    <select id="selectCustomerUserCount" parameterType="java.lang.Integer" resultType="java.util.HashMap">
       SELECT
            FROM_UNIXTIME( u.createTime / 1000, '%m月' ) userMonth,
            count( 1 ) userCount
        FROM
            t_customer_user u
        WHERE
            FROM_UNIXTIME( u.createTime / 1000, '%Y' ) = #{userYear}
            and u.status =1
            <if test="customerId != null">
                and u.customerId = #{customerId}
            </if>
        GROUP BY
            FROM_UNIXTIME( u.createTime / 1000, '%m月' )
    </select>

    <select id="selectList" resultType="com.huanke.iot.base.po.customer.CustomerUserPo">
        SELECT tcu.province,tcu.city,tcu.id,tcu.lastVisitTime,tcu.nickname,tcur.deviceId,
        tdt.`name` typeName,tdm.`name` modelName
        FROM t_customer_user tcu,t_device_customer_user_relation tcur,t_device td
        <if test="param.groupId != null">
            ,t_device_group tdg,t_device_group_item tdgi
        </if>
        LEFT JOIN t_device_type tdt ON td.typeId = tdt.id
        LEFT JOIN t_device_model tdm ON td.modelId = tdm.id
        <where>
            tcu.openId = tcur.openId and td.id = tcur.deviceId
            <if test="param.customerId != null">
                AND tcu.customerId = #{param.customerId}
            </if>
            <if test="param.province != null">
                AND tcu.province = #{param.province}
            </if>
            <if test="param.city != null">
                AND tcu.city = #{param.city}
            </if>
            <if test="param.groupId != null">
                AND tdg.groupId = #{param.groupId}
                AND tdg.id = tdgi.groupId
                AND tdgi.deviceId = td.id
            </if>
            <if test="param.typeId != null">
                AND tdt.id = #{param.typeId}
            </if>
            <if test="param.modelId != null">
                AND tdm.id = #{param.modelId}
            </if>
        </where>
        limit #{limit} offset #{offset}
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_customer_user tcu,t_device_customer_user_relation tcur,t_device td
        <if test="param.groupId != null">
            ,t_device_group tdg,t_device_group_item tdgi
        </if>
        LEFT JOIN t_device_type tdt ON td.typeId = tdt.id
        LEFT JOIN t_device_model tdm ON td.modelId = tdm.id
        <where>
            tcu.openId = tcur.openId and td.id = tcur.deviceId
            <if test="param.customerId != null">
                AND tcu.customerId = #{param.customerId}
            </if>
            <if test="param.province != null">
                AND tcu.province = #{param.province}
            </if>
            <if test="param.city != null">
                AND tcu.city = #{param.city}
            </if>
            <if test="param.groupId != null">
                AND tdg.groupId = #{param.groupId}
                AND tdg.id = tdgi.groupId
                AND tdgi.deviceId = td.id
            </if>
            <if test="param.typeId != null">
                AND tdt.id = #{param.typeId}
            </if>
            <if test="param.modelId != null">
                AND tdm.id = #{param.modelId}
            </if>
        </where>
    </select>

    <select id="selectUserCountByTime" resultType="java.lang.Integer">
        select count(1) from
        <include refid="tableName"/> u
        where
        createTime >= #{startTime}
        <![CDATA[
        and createTime <= #{endTime}
            ]]>
        <if test="customerId != null">
            and u.customerId = #{customerId}
        </if>
        and status = 1
    </select>

    <select id="selectUserCount" resultType="java.lang.Integer">
        select count(1) from
        <include refid="tableName"/>
        where 1=1
        <if test="customerId != null">
            and customerId = #{customerId}
        </if>
        and status = 1
    </select>

    <select id="selectLiveUserCountByTime" resultType="java.lang.Integer">
        select count(1) from
        <include refid="tableName"/>
        where 1=1
        and lastVisitTime >= #{startTime}
        <![CDATA[
        and lastVisitTime <= #{endTime}
            ]]>
        <if test="customerId != null">
            and customerId = #{customerId}
        </if>
        and status = 1
    </select>
</mapper>