<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanke.iot.base.dao.customer.CustomerMapper">

    <sql id="tableName">
        t_customer
    </sql>
    <!-- 插入一条记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.huanke.iot.base.po.customer.CustomerPo">
        INSERT INTO
        <include refid="tableName"/>
        (
        parentCustomerId,
        name,
        loginName,
        serviceUser,
        userType,
        remark,
        publicName,
        publicId,
        appid,
        appsecret,
        SLD,
        typeIds,
        modelIds,
        status,
        createTime,
        creatUser
        )
        VALUES (
        #{parentCustomerId},
        #{name},
        #{loginName},
        #{serviceUser},
        #{userType},
        #{remark},
        #{publicName},
        #{publicId},
        #{appid},
        #{appsecret},
        #{SLD},
        #{typeIds},
        #{modelIds},
        #{status},
        #{createTime},
        #{creatUser}
        )
    </insert>


    <update id="updateById" parameterType="com.huanke.iot.base.po.customer.CustomerPo">
        update
        <include refid="tableName"/>
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="loginName != null  and loginName != ''">
                loginName = #{loginName},
            </if>
            <if test="serviceUser != null  and serviceUser != ''">
                serviceUser = #{serviceUser},
            </if>
            <if test="userType != null">
                userType = #{userType},
            </if>
            <if test="remark != null  and remark != '' ">
                remark = #{remark},
            </if>
            <if test="publicName != null  and publicName != '' ">
                publicName = #{publicName},
            </if>
            <if test="publicId != null">
                publicId = #{publicId},
            </if>
            <if test="appid != null and appid != ''">
                appid = #{appid},
            </if>
            <if test="appsecret != null and appsecret != ''">
                appsecret = #{appsecret},
            </if>
            <if test="SLD != null and SLD != ''">
                SLD = #{SLD},
            </if>
            <if test="typeIds != null and typeIds != ''">
                typeIds = #{typeIds},
            </if>
            <if test="modelIds != null and modelIds != ''">
                modelIds = #{modelIds},
            </if>
            <if test="status != null ">
                status = #{status},
            </if>
            lastUpdateTime = #{lastUpdateTime}
        </set>
        where
        id = #{id}
    </update>

    <select id="selectList" resultType="com.huanke.iot.base.po.customer.CustomerPo">
        select * from
        <include refid="tableName"/>
        <where>
            1 = 1
            <if test="param.name != null and param.name != ''">
                AND name like CONCAT('%',CONCAT(#{param.name},'%'))
            </if>
            <if test="param.publicName != null and param.publicName != ''">
                AND publicName = #{param.publicName}
            </if>
            <if test="param.userType != null">
                AND userType = #{param.userType}
            </if>
            <if test="param.loginName != null and param.loginName != '' ">
                AND loginName = #{param.loginName}
            </if>
            <if test="param.SLD != null and param.SLD != '' ">
                AND SLD = #{param.SLD}
            </if>
            <if test="param.status != null  ">
                AND status = #{param.status}
            </if>
            <if test="param.parentCustomerId != null  ">
                AND parentCustomerId = #{param.parentCustomerId}
            </if>
        </where>
        limit #{limit} offset #{offset}
    </select>

    <select id="selectCustomerList">
        select tc.name,
        tc.userType,
        tc.publicName,
        tc.loginname,
        tc.remark
        from <include refid="tableName"/>
        where status = 1
        limit #{limit} offset #{offset}
    </select>

    <select id="selectAllCustomers" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.CustomerPo">
        select *
        from
        <include refid="tableName"/>
        where status = 1
        <set>
            <if test="parentCustomerId != null ">
                parentCustomerId = #{parentCustomerId},
            </if>
        </set>
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.CustomerPo">
        select
        *
        FROM <include refid="tableName"/>
        WHERE id = #{id} limit 1
    </select>

    <select id="selectByAppId" parameterType="java.lang.String" resultType="com.huanke.iot.base.po.customer.CustomerPo">
        select
        *
        FROM <include refid="tableName"/>
        WHERE appid = #{appId} limit 1
    </select>

    <select id="selectByTeamId" parameterType="java.lang.Integer" resultType="com.huanke.iot.base.po.customer.CustomerPo">
        select
        t_customer.*
        FROM
        t_customer,t_device_team
        WHERE
        t_device_team.id = #{teamId}
        AND
        t_customer.id = t_device_team.customerId
        limit 1
    </select>


    <select id="selectBySLD" parameterType="java.lang.String" resultType="com.huanke.iot.base.po.customer.CustomerPo">
        select
        *
        FROM
        <include refid="tableName"/>
        WHERE SLD = #{SLD} and status = 1 limit 1
    </select>


    <update id="updateStatusById" parameterType="com.huanke.iot.base.po.customer.CustomerPo">
        update
        <include refid="tableName"/>
        <set>
            <if test="status != null ">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>